.home{
    height: 100%;
    width: 100%;
    background: url(../../assets/image/bj.jpg) no-repeat;
    // background-size: 100%;
    color: #fff;
    .mainContent{
      height:  calc(100% - 45px);
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  
  .left{
    width: 19%;
    height: 100%;
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
  }
  .centre{
    width: 58vw;
    // height:  calc(100vh - 60px);
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
  }
  .right{
    width: 19vw;
    // height:  calc(100vh - 60px);
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
  }
  
