.home{
  height: 100vh;
  width: 100vw;
  background: url(../../assets/image/bj.jpg) no-repeat;
  background-size: 100%;
  background-color: rgb(0, 25, 45);
  /* padding-top: calc(100vh - 90vh); */
}
.top_head{
  width: 100%;
  /* height: 10vh; */
  display: flex;
  justify-content: space-between;
  /* background: chartreuse; */
}

.top{
  width: 100%;
  height: 20vh;
}

.centre{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.bottom{
  width: 100%;
  height: 20vh;
  /* background-color: chocolate; */
  display: flex;
  justify-content: space-between;
}